.authenticate-entire-body {
  padding: 0;
}
.authenticate-body {
  @include flex(center, center);
  padding: 10px 25px;
  min-width: 100%;
  min-height: 600px;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 100%, 0 76%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0% 75%, 0 0);
  background-image: linear-gradient(to left, #ffecd2 0%, #fcb69f 100%);
  .left-col {
    margin: 0 20px;
    .dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      .dot {
        margin: 0 0.5em;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: getColorFromMap($colors, "dark-gray");
        animation: jump 0.75s ease-in-out infinite alternate-reverse;
        &:nth-of-type(1) {
          animation-delay: -0.25s;
        }
        &:nth-of-type(2) {
          animation-delay: -0.5s;
        }
        &:nth-of-type(3) {
          animation-delay: -0.75s;
        }
      }
    }
    .redirect-head {
      font-size: 25px;
      margin: 20px 0;
      text-align: center;
      color: getColorFromMap($colors, "dark-gray");
    }
  }
  .right-col {
    @include flex(center, center);
    width: 40%;
    max-width: 350px;
    min-width: 270px;
    margin: 0 20px;
    svg {
      width: 100%;
    }
  }
}

@keyframes jump {
  to {
    transform: translateY(-10px);
  }
}
