$colors: (
  primary: #1f3fce,
  secondary: #a8a3a3b2,
  light-gray: #747171,
  dark-gray: #3a3a3a,
  hover-color: #1f97ce,
  hover-color-dark: #102686,
  lightish-blue: #e2f3f5,
  creamish-color: #f3f169,
  accent-color: #fff6bb,
  overlay-color: rgba(0, 0, 0, 0.6),
);
