<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Github Info</title>
    <link rel="shortcut icon" href="./icon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Get Github Info</h1>
      <p class="desc-text">
        View users' repositories with the <strong>Get Github Info</strong>
        App through the Github API
      </p>
      <p class="auth-text">
        Authorize the app to access Github API. This will enable you to send
        upto 5000 requests to the Github API, whereas if you do not, then you
        can send a mere 60 requests to the API in an hour.
      </p>
      <a href="./authenticate" class="authorize"
        >Authorize<span class="arrow">→</span></a
      >
      <p class="or">or</p>

      <a href="./main-page.html" class="no-authorize"
        >Continue without Authorizing<span class="arrow">→</span></a
      >
    </div>
  </body>
</html>
